{% include 'header.html' %}


<title> {{ title }} </title>

{% block content %}
  <!-- hero -->
  <div class="relative isolate overflow-hidden bg-gradient-to-b from-teal-100/20 pt-14">
    <div
      class="absolute inset-y-0 right-1/2 -z-10 -mr-96 w-[200%] origin-top-right skew-x-[-30deg] bg-white shadow-xl shadow-teal-600/10 ring-1 ring-teal-50 sm:-mr-80 lg:-mr-96"
      aria-hidden="true"></div>
    <div class="mx-auto max-w-7xl px-6 py-32 sm:py-40 lg:px-8">
      <div
        class="mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-6 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8">
        {% if webinfo_obj %}
    
        <h1 class="max-w-2xl text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl lg:col-span-2 xl:col-auto">
          {{ webinfo_obj.designation }}</h1>
          {% endif %}
        <div class="mt-6 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
          {% if webinfo_obj %}
          <p class="text-lg leading-8 text-gray-600"> {{ webinfo_obj.title }} </p>
          {% endif %}
          <div class="mt-10 items-center gap-x-6 hidden lg:block">
            <a href="about"
              class="rounded-md bg-teal-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">Learn
              more about me <span aria-hidden="true">→</a>
          </div>
        </div>
        {% if webinfo_obj %}

        {% if webinfo_obj.image %}
        <img
          class="mt-10 aspect-[3/2] w-full max-w-lg rounded-2xl object-cover sm:mt-16 lg:mt-0 lg:max-w-none xl:row-span-2 xl:row-end-2"
          src=" {{ webinfo_obj.image.url }}" alt="{{ webinfo_obj.name }}">
        {% endif %}
        {% else %}
        <p>Image Not Found.</p>
        {% endif %}
      </div>
    </div>
    <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
  </div>
  <!-- hero -->

  <!-- blog -->
  <div class="bg-white py-12 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Blog</h2>
        <p class="mt-2 text-lg leading-8 text-gray-600">Learn how to grow your business with our expert advice.</p>
      
        <div class="flex items-center justify-center bg-white p-4">
          <div class="flex flex-wrap justify-center gap-x-6 gap-y-4">

            {% for category in categories %}
            <a href="/category/{{ category.slug }}">
          <span
            class="inline-flex cursor-pointer items-center gap-x-1.5 rounded-full border-[1px] border-teal-100 bg-teal-50 hover:bg-teal-100 px-1.5 py-0.5 text-xs font-medium text-teal-700">
            <svg class="h-1.5 w-1.5 fill-teal-200" viewBox="0 0 6 6" aria-hidden="true">
              <circle cx="3" cy="3" r="3" />
            </svg>
            {{category.name}}
          </span>
        </a>
        {% endfor %}
        </div>
        </div>
      </div>
      
      <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        
        {% for post in posts %}
        <article class="flex flex-col items-start justify-between">
          <a href="/blog/{{ post.slug }}"> 
          <div class="relative w-full">
            
            {% if post.image %}
            <img src="{{ post.image.url }}" alt=""
              class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
              {% endif %}
              <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
        </a>
          <div class="max-w-xl">
            <div class="mt-8 flex items-center gap-x-4 text-xs">
              <time datetime="{{ post.updated_at|date:"F j, Y" }}" class="text-gray-500">{{ post.updated_at|date:"F j, Y" }}</time>
              <a href="/category/{{ post.category.slug }}"
                class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{{post.category}}</a>
            </div>
            <div class="group relative">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                {% if post.image %}
                <a href="/blog/{{ post.slug }}">
                  <span class="absolute inset-0"></span>
                  {{ post.title }}
                </a>
                {% endif %}
              </h3>

              <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{ post.subtitle }}</p>
            </div>
          </div>
        </article>

        {% endfor %}
        <!-- More posts... -->
      </div>
    </div>
  </div>
  <!-- blog end -->


  {% endblock %}

  {% include 'footer.html' %}