{% include 'header.html' %}

<title> {{ title}} </title>
{% block content %}
    <div class="bg-white relative isolate overflow-hidden  pt-14">
        <!-- details -->
        <div >
            <div class="mx-auto max-w-3xl px-4 lg:px-0 text-base leading-7 text-gray-700">
                {% if post.image %}

                <figure class="mt-16">
                    <img class="aspect-video rounded-xl bg-gray-50 object-cover" src="{{ post.image.url }}" alt="">
                    <figcaption class="mt-4 flex gap-x-2 text-sm leading-6 text-gray-500">
                      <svg class="mt-0.5 h-5 w-5 flex-none text-gray-300" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd"></path>
            </svg>
                      this is here image source
                    </figcaption>
                  </figure>

                  {% endif %}
              <h1 class="mt-2 text-3xl font-bold align-middle text-center tracking-tight text-gray-900 sm:text-4xl">{{post.title}}</h1>
              <p class="mt-6 text-xl leading-8">{{post.subtitle}}</p>
              <div class="mt-10 max-w-2xl">
        {{post.content | safe}}
              
              </div>
             
              
            </div>
          </div>
        <!-- details end-->
        {% endblock %}
        {% include 'footer.html' %}